* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  object-fit: contain;
}

/* Contenitore  */
.wrapper {
  width: 100%;
  height: 100vw;
}

.w-top {
  height: calc(100% - 70px);
  background-color: blue;
  display: flex;
}

/* banner di sinistra */
.w-left {
  height: 100%;
  width: 230px;
  background-color: black;
}

/* corpo del sito con le righe e le card */
.w-right {
  height: 100%;
  width: calc(100% - 230px);
  background-color: blueviolet;

  .w-up {
    height: 90px;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /*da modificare */
  }

  .card {
    width: auto;
    flex-basis: auto;
  }
}

/* player */
.w-bottom {
  height: 70px;
  width: 100%;
  background-color: bisque;
}

@media screen and (max-width: 480px) {
  .w-left {
    width: 50px;
  }

  .w-right {
    width: calc(100% - 50px);
  }
}

/* da modificare il comportamento delle card nelle varie misure di schermo */
