/* #region utilities  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-light);

  h6 {
    color: var(--text-side-menu-dark);
  }

  a {
    color: var(--text-side-menu-dark);
    text-decoration: none;
  }

  span {
    display: none;
  }
}

.container {
  width: 95%;
}

img {
  width: 100%;
}

.d-flex {
  display: flex;
}

[class^="col"] {
  padding: 1rem;
}

:root {
  --backgroud: #141922;
  --menu: black;
  --text-light: white;
  --text-side-menu-light: #a3a3a3;
  --text-side-menu-dark: #636363;
  --color-hoover: ;
}

/* #endregion utilities  */

/* #region Colonne */

.col-1 {
  width: calc(100% / 12 * 1);
}

.col-2 {
  width: calc(100% / 12 * 2);
}

.col-3 {
  width: calc(100% / 12 * 3);
}

.col-4 {
  width: calc(100% / 12 * 4);
}

.col-5 {
  width: calc(100% / 12 * 5);
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: calc(100% / 12 * 7);
}

.col-8 {
  width: calc(100% / 12 * 8);
}

.col-9 {
  width: calc(100% / 12 * 9);
}

.col-10 {
  width: calc(100% / 12 * 10);
}

.col-11 {
  width: calc(100% / 12 * 11);
}

.col-12 {
  width: 100%;
}

/* #endregion colonne  */

/* Contenitore  */
.wrapper {
  height: 100vh;
  overflow: hidden;
  background-color: var(--backgroud);
}

.w-top {
  height: calc(100% - 70px);
}

/* banner di sinistra */
.w-left {
  height: 100%;
  width: 50px;
  background-color: black;

  .logo-small {
    width: 40px;
  }

  .logo {
    display: none;
  }
}

.menuicon {
  img {
    width: 30px;
  }
}

.playlist {
  .piu {
    width: 40px;
    height: 40px;
    background-color: var(--text-side-menu-light);
  }
  b {
    font-size: 2rem;
  }
}

/* corpo del sito con le righe e le card */
.w-right {
  height: 100%;
  width: calc(100% - 50px);
  overflow-y: auto;

  .w-up {
    height: 90px;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.464);
  }

  /* il bottone non cambia ! perchè non si modifica?  */
  .upgrade {
    border-radius: 9999px;
    border-style: solid;
    border-color: var(--text-light);

    padding: 10px 30px;
    margin-right: 10px;

    a {
      color: var(--text-light);
    }
  }

  .row {
    flex-wrap: wrap;
  }

  .card {
    width: auto;
    flex-basis: auto;
  }

  .col-6 {
    width: 50%;
  }
}

.menu {
  ul {
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 13px; /*da mettere in grassetto */
    gap: 10px;
  }

  li {
  }
}

/* player */
.w-bottom {
  height: 70px;
  width: 100%;
  background-color: bisque;
}

/* da modificare il comportamento delle card nelle varie misure di schermo */

@media screen and (min-width: 576px) {
  body {
    span {
      display: inline;
    }
  }

  .w-left {
    width: 230px;

    .logo-small {
      display: none;
    }

    .logo {
      display: block;
      height: 40px;
    }
  }

  .w-right {
    width: calc(100% - 230px);
  }
}

@media screen and (min-width: 768px) {
  .w-right {
    .col-3 {
      width: calc(100% / 12 * 3);
    }
  }
}

@media screen and (min-width: 992px) {
  .w-right {
    .col-2 {
      width: calc(100% / 12 * 2);
    }
  }
}
