/* #region utilities  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-light);

  h2 {
    margin: 10px;
  }

  h6 {
    color: var(--text-side-menu-dark);
    margin: 10px;
  }

  a {
    color: var(--text-side-menu-dark);
    text-decoration: none;
  }

  ul {
    list-style: none;
  }

  span {
    display: none;
  }
}

.container {
  width: 95%;
}

img {
  width: 100%;
}

.d-flex {
  display: flex;
}

[class^="col"] {
  padding: 1rem;
}

:root {
  --backgroud: #141922;
  --menu: black;
  --text-light: white;
  --text-side-menu-light: #a3a3a3;
  --text-side-menu-dark: #636363;
  --player-bottom-bg: #282828;
  --color-borgerd-green: #adff2f;
}

/* #endregion utilities  */

/* #region Colonne */

.col-1 {
  width: calc(100% / 12 * 1);
}

.col-2 {
  width: calc(100% / 12 * 2);
}

.col-3 {
  width: calc(100% / 12 * 3);
}

.col-4 {
  width: calc(100% / 12 * 4);
}

.col-5 {
  width: calc(100% / 12 * 5);
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: calc(100% / 12 * 7);
}

.col-8 {
  width: calc(100% / 12 * 8);
}

.col-9 {
  width: calc(100% / 12 * 9);
}

.col-10 {
  width: calc(100% / 12 * 10);
}

.col-11 {
  width: calc(100% / 12 * 11);
}

.col-12 {
  width: 100%;
}

/* #endregion colonne  */

/* Contenitore  */
.wrapper {
  height: 100vh;
  overflow: hidden;
  background-color: var(--backgroud);
}

.w-top {
  height: calc(100% - 70px);
}

/* banner di sinistra */
.w-left {
  height: 100%;
  width: 50px;
  padding: 15px 12px;
  background-color: black;
  color: var(--text-side-menu-dark);
  flex-direction: column;
  justify-content: space-between;

  .logo-small {
    width: 40px;
    margin: 10px 0;
    padding-right: 8px;
  }

  .logo {
    display: none;
    margin-bottom: 40px;
  }
}

.menuicon {
  img {
    width: 30px;
  }

  li {
    font-weight: bold;
  }

  span {
    margin-left: 10px;
  }
}

.homeicon {
  /* posso farlo con after  */
  position: relative;
}

.homeicon::after {
  content: "";
  position: absolute;
  left: -11px;
  top: 50%;
  transform: translateY(-50%);
  width: 4px;
  height: 20px;
  background-color: var(--color-borgerd-green);
}

.playlist {
  /* ma forse h3 posso metterlo in body  */
  h3 {
    color: var(--text-light);
  }

  .piu {
    width: 40px;
    height: 40px;
    background-color: var(--text-side-menu-light);
    position: relative;
  }
  b {
    font-size: 2rem;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  ul li {
    padding: 5px 0;
  }

  span {
    padding: 1px;
    font-weight: bold;
  }

  .soluzione {
    align-items: center;
    gap: 10px;
  }
}

.c-top a,
.c-bot a {
  align-items: center;
  gap: 10px;

  i {
    margin: 5px;
  }
}

hr {
  margin-bottom: 5px;
}

.circle {
  background-color: var(--text-side-menu-light);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}

/* corpo del sito con le righe e le card */
.w-right {
  height: 100%;
  width: calc(100% - 50px);
  overflow-y: auto;

  .row {
    flex-wrap: wrap;
  }

  .card {
    width: auto;
    flex-basis: auto;
  }

  .supporto {
    width: auto;
    position: relative;
    overflow: hidden;
  }

  .overlay {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .supporto:hover .overlay {
    opacity: 1;
  }

  .bigcircle {
    border-radius: 50%;
    overflow: hidden;
  }

  .col-6 {
    width: 50%;
  }
}

.w-up {
  height: 90px;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.464);

  .upgrade {
    border-radius: 9999px;
    border-style: solid;
    border-color: var(--text-light);
    padding: 10px 30px;
    margin-right: 15px;
    transition: background-color 0.3s;

    a {
      color: var(--text-light);
    }
  }
}

.upgrade:hover {
  transform: scale(1.1);
}

.menu {
  margin: 10px 0;

  ul {
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    gap: 10px;
  }

  a {
    position: relative;
  }

  .undergreen::after {
    content: "";
    position: absolute;
    left: 27px;
    bottom: -4px;
    height: 1px;
    width: 30px;
    background-color: var(--color-borgerd-green);
  }
}

/* player */
.w-bottom {
  height: 70px;
  width: 100%;
  background-color: var(--player-bottom-bg);
}

/* da modificare il comportamento delle card nelle varie misure di schermo */

@media screen and (min-width: 576px) {
  body {
    span {
      display: inline;
    }
  }

  .w-left {
    width: 230px;

    .logo-small {
      display: none;
    }

    .logo {
      display: block;
      height: 40px;
    }
  }

  .w-right {
    width: calc(100% - 230px);
  }
}

@media screen and (min-width: 768px) {
  .w-right {
    .col-3 {
      width: calc(100% / 12 * 3);
    }
  }
}

@media screen and (min-width: 992px) {
  .w-right {
    .col-2 {
      width: calc(100% / 12 * 2);
    }
  }
}
